# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Environnement virtuel
# =========================
venv/
.env

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Fichiers système
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temporaires
# =========================
*.log

# =========================
# Sessions SQL locales
# =========================
*.session.sql

# =========================
# Fichiers temporaires éventuels
# =========================
*.tmp
*.swp